<form class="" action="/manufacturers/new" method="get">
  <input class="button" type="submit" value="Add New Manufacturer">
</form>

<form class="" action="/guitars" method="post">

  <label for="manufacturer-select">Select Manufacturer: </label>
  <select name="manufacturer_id" id="manufacturer-select">
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select><br>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name"><br>

  <label for="type-select">Choose Type: </label>
  <select name="type" id="type-select">
    <% @guitar_types.each do |type| %>
      <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select><br>

  <label for="description">Description: </label>
  <input type="text" name="description" id="description"><br>

  <label for="quantity">In stock: </label>
  <input type="number" min="0" name="stock_quantity" id="quantity"><br>

  <label for="cost">Wholesale cost: </label>
  <input type="number" min="0" name="buying_cost" id="cost"><br>

  <label for="price">Price: </label>
  <input type="number" min="0" name="selling_price" id="price"><br>

  <input class="button" type="submit" value="Add">
</form>
