<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STRUNG OUT - Inventory</title>
    <!-- nope!! this is the wee icon in the browser tab! Create a CSS file, set it as background on the <body> -->
    <link rel="icon" href="/images/dark-rider-JmVaNyemtN8-unsplash.jpg" />
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <header>
    <h1><a href="/">STRUNG OUT</a></h1>
    <h2>BROWSE | BUY | JAM</h2>
  </header>
  <body>
    <nav>
      <ul>
      <li>
        <a href="/guitars">All Stock</a>
      </li>
      <li>
        <a href="/guitars">Add/Remove Products</a>
      </li>
      <li>
        <a href="/manufacturers">All Manufacturers</a>
      </li>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>
