<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STRUNG OUT - Inventory</title>
    <!-- still can't get favicon to work -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="shortcut icon" href="images/guitar-solid.ico" style="colour: black;">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">

  </head>
  <header>
    <h1><i id="guitar" class="fas fa-guitar"></i> <a href="/">STRUNG OUT</a> <i class="fas fa-guitar"></i></h1>
    <h2>BROWSE <i class="fas fa-music"></i> JAM <i class="fas fa-music"></i> BUY</h2>
  </header>
  <body>
    <!-- <div class="image">
      <img src="/images/dark-rider-JmVaNyemtN8-unsplash.jpg">
    </div> -->

    <!-- <nav>
      <ul>
      <li>
        <a href="/guitars">All Stock</a>
      </li>
      <li>
        <a href="/manufacturers">All Manufacturers</a>
      </li>
      </ul>
    </nav> -->
    <%= yield %>

  </body>
</html>
