<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STRUNG OUT - Inventory</title>
    <!-- got a guitar icon from Font Awesome but can't see how to use it. They provide this HTML - <i class="fas fa-guitar"></i> -->
    <link class="fas fa-guitar" rel="icon" />
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <header>
    <h1><a href="/">STRUNG OUT</a></h1>
    <h2>BROWSE | JAM | BUY</h2>
  </header>
  <body>
    <nav>
      <ul>
      <li>
        <a href="/guitars">All Stock</a>
      </li>
      <li>
        <a href="/guitars">Add Products</a>
      </li>
      <li>
        <a href="/manufacturers">All Manufacturers</a>
      </li>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>
