body {
  background: url('/images/dark-rider-JmVaNyemtN8-unsplash.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: aqua;
  font-weight: bolder;
  font-family: 'Arial';
}

h1, h2 {

}
